* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    direction: rtl;
    background: #fefdfd;
    width: 100%;
    text-align: right;
}

.main-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    height: 20vh;
}

nav {
    background: #f7f7f7;
    width: 100%;
    height: 63px;
    padding: 8px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    nav div.left {
        position: absolute;
        left: 25px;
        top: auto;
    }

    nav a, button {
        padding: 12px 24px;
        color: black;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 19px;
        font-weight: 800;
    }

        nav a:hover, button:hover {
            background: #ebebeb;
        }

.dropdown {
    overflow: hidden;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateX(20%);
}

    .dropdown-content a {
        font-weight: 400;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2 {
    overflow: hidden;
    display: inline;
    position: relative;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    right: 0;
    white-space: nowrap;
    z-index: 10;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateX(15%);
}

    .dropdown-content2 a {
        font-weight: 400;
        display: block;
    }

.dropdown2:hover .dropdown-content2 {
    display: block;
}

main {
    display: flex;
    width: 100%;
    padding: 5vh;
}

.side-nav {
    flex: 1;
    background: #f7f7f7;
    border-radius: 12px;
    margin: 16px;
    padding: 8px;
    height: 50vh;
}

    .side-nav a {
        color: black;
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        font-size: 19px;
        font-weight: 800;
    }

        .side-nav a:hover {
            background: #ebebeb;
        }

.main-info {
    flex: 4;
    background: #f7f7f7;
    border-radius: 12px;
    margin: 16px;
    padding: 20px;
}

    .main-info h1 {
        font-size: 3em;
        color: #5ce687;
    }

    .main-info h2 {
        margin: 20px 0;
    }

    .main-info hr {
        margin: 20px 0;
    }

    .main-info img {
        margin: 20px;
    }
